:root{
    --back-color: #003366;
    --text-color: #fff;
}

.title{
    color: var(--text-color);
}

.sousTitre{
    color: grey;
}

.main{
    padding: 15px;
    height: auto;
    background-color: var(--back-color);
}

.promo{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 1200px;
    height: 500px;
}

.allItem{
    border-radius: 15px;
   
    margin-block: 3em;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: auto;
}

.itemText{
    padding-left: 1em;
}

.promo img{
    border-radius: inherit;
    width: inherit;
    height: inherit;
}

.categContainer{
    display: flex;
    flex-direction: row;
}

.categModel{
    cursor: pointer;
    margin-inline: 1.5em;
    margin-block: 1em;
    border-radius: 15px;
    box-shadow: black 0px 2px 5px;
    width: 150px;
    height: 100px;
    
}

.popular h2{
    font-size: 1.4em;
}

.categModel:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.categModel img{
    border-radius: inherit;
    width: inherit;
    height: inherit;
    
}

/* Item Model */
.itemModel{
    margin: 1em;
    border-radius: 15px;
    box-shadow: black 0px 2px 3px;
    width: 200px;
    height: 300px;
}

.itemImg{
    /* margin-top: 5px; */
    margin-left: 2.8em;
    width: 100px;
}

.itemImg, .itemName, .itemDesc, .itemPrice, .buyButton{
    padding: 0.3em;
    white-space: nowrap;
    font-size: inherit;
}

#google{
width: 100px;
}

.buyButton{
    cursor: pointer;
    margin-left: 3em;
    margin-bottom: 1em;
    width: 90px;
    height: 45px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    transition: all 0.5s;
}

.buyButton:hover{
    background-color: #003366;
    color: #fff;
    transition: all 0.5s;
}

.itemContainer{
    display: flex;
    flex-direction: row;
}


/* Item Model */

.adBanner{
    border-radius: 15px;
    margin-left: 7em;
    width: 900px;
    height: 225px;
    box-shadow: black 0px 2px 3px;

}

.adBanner img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

/* Game model */
.gameModel{
    margin: 1em;
    border-radius: 15px;
    box-shadow: black 0px 2px 3px;
    width: 200px;
    height: auto;
}

.gameBuy{
    cursor: pointer;
    margin-left: 3em;
    margin-bottom: 1em;
    width: 90px;
    height: 45px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    transition: all 0.5s;
}

.gameBuy:hover{
    background-color: #003366;
    color: #fff;
    transition: all 0.5s;
}

.gameContainer{
    display: flex;
    flex-direction: row;
}
/* Game model */