.infoForm{
    margin: auto;
    display: flex;
    flex: 1 2 0;
    width: 10px;
    height: 300px;
}

.infoForm section{
    margin-inline: 15px;
}

.usernameForm, .mailForm, .phoneForm{
    width: 200px;
    height: 35px;
    
}

input[type=text], input[type=email], input[type=tel]{
    width: inherit;
    height: inherit;
    border: none;
}

